<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Express IronBeers</title>
    <link rel="stylesheet" href="/public/stylesheets/styles.css">
  </head>
  <body>
    
        <img src="/images/beer.png" alt="beer glass">
   
        <a href="/beers">
        <button class="button-beer">Check the Beers!</button>
        </a>
        <a href="/random-beer">
        <button class="button-beer">Check a Random Beer!</button>
        </a>
    
  </body>
</html>
