<!-- views/layout.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Express IronBeers</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
    <nav>
        <li><a href="/">Home</a></li>
        <li><a href="/beers">Beers</a></li>
        <li><a href="/random-beer">Random beer</a></li>
    </nav>
    <%-body%> 
        

  </body>
</html>


